*{
    margin: 0px;
}
body{
    background-color: rgb(59, 140, 187);
}
.titulo_um{
    padding: 10px;
}
.imagem_foto {
    padding: 10px;
    width: 100%;
    
}

/* ---- Footer ----- */
footer{
    position: fixed; /* Manter rodape fixado em baixo - config padrao*/
    right: 0;
    bottom: 0;
    left: 0;
}
.roda_pe{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: auto;
    
    padding-top: 10px;
    color: white;

}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 10px 4.5rem;
}
.social a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}


