$colorHarvey: #1f4037;
$colorHarveylight: #99f2c8;

.border{
    border-radius: 10px;
}

header{
    background: $colorHarvey;  
    background: -webkit-linear-gradient(to right, $colorHarveylight, $colorHarvey); 
    background: linear-gradient(to right,  $colorHarvey, $colorHarveylight);
}
