<header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom bg-primary">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">NG-Food</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active bg-warning text-decoration-none text-dark" aria-current="page">Início</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">Produtos</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">Sobre</a></li>
    </ul>
  </header>