<header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom bg-primary">
    <a routerLink="/inicio" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4 border border-warning bg-warning">NG-Food</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/inicio" class="nav-link active bg-warning text-decoration-none text-dark" aria-current="page">Início</a></li>
      <li class="nav-item"><a routerLink="/listas" class="nav-link text-decoration-none text-dark">Comidas</a></li>
      <li class="nav-item"><a routerLink="/bebidas" class="nav-link text-decoration-none text-dark">Bebidas</a></li>
    </ul>
  </header>