<div class="container fixed-bottom ">
    <footer class="d-flex flex-wrap justify-content-between align-items-center mb-0  border-top ">
        <p class="col-md-4 mb-0 text-muted">© 2022 Company NG-Food, Inc</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a routerLink="comidas" class="nav-link px-2 text-muted">Comidas</a></li>
            <li class="nav-item"><a routerLink="bebidas" class="nav-link px-2 text-muted">Bebidas</a></li>
            <li class="nav-item"><a  class="nav-link px-2 text-muted">Pedidos</a></li>
            <li class="nav-item"><a routerLink="about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>