<footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-2 mb-0 border-top fixed-bottom bg-primary">
    <div class="col-md-4 d-flex align-items-center text-dark">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-dark">© 2022 Company, NG-Food</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex p-3">
      <li class="ms-3"><a class="text-decoration-none text-dark" routerLink="inicio">Inicio</a></li>
      <li class="ms-3"><a class="text-decoration-none text-dark" routerLink="/listas">Comidas</a></li>
      <li class="ms-3"><a class="text-decoration-none text-dark" routerLink="/bebidas">Bebidas</a></li>
    </ul>
  </footer>