<div class="container justify-content-evenly d-flex p-3 my-4">    
        <div
        *ngFor="let menu of listaMenu" class="card align-items-center" style="width: 18rem;">
        <img 
        [src]="menu.enderecoImagem" 
        class="card-img-top" 
        style="width: 10rem; height: 10rem">
            <div 
            (click)="redirecionar(menu.path)"
            class="card-body">  
            <h5 class="card-title">{{menu.titulo}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a 
            (click)="ouvirCliquedoBotao(menu.titulo)"
            class="btn btn-primary">
            Ver mais</a>
            </div>
        </div>
        
</div>