*{
    margin: 0;
    padding: 0;
}
.header{
    background: url(/header.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar ul li a{
    list-style: none;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
