*{
    margin: 10px;
}
body{
    background-color: yellow;
}
.semana_titulo{
    display: flexbox;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: rgb(128, 64, 0);
}
.texto_p{
    font-size: 14px;

}
.botao{
    color: black;
    padding: 10px;
    border-color: red;
    border: 2px;
    margin: 20px;
}