*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    display: block;
    justify-content: center;
    text-align: center;   
    margin: 50px 50px;
    padding: 30px 100px;
    border-radius: 10px;
    background-color: rgb(63, 63, 63);
    font-size: 35px;
}
.section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: aqua;*/
    margin: auto;
    padding: 0;       
}
.imagem{
    margin: 10px;
    border-radius: 8px;
    padding: 40px ;
    background-color: rgb(63, 63, 63);
}
.lado_direito{
    width: 450px;
    margin: 10px;
    padding: 40px 40px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}
.lado_direito p{
    margin-bottom: 12px;
    padding: 5px;
    font-size: 14px;
}

/* -------------- Footer ----------------*/

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
.roda_pe{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: auto;
    
    padding-top: 10px;
    color: white;

}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 10px 4.5rem;
}
.social a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}