<div class="list-group my-3">

    <a 
    id="listbebidas" (click)="exibirbebida()"
    *ngFor="let itembebidas of listadeBebidas"
    class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
  
      <img src="{{itembebidas.image}}" alt="comidas" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 id="nameBebida" class="mb-0">{{itembebidas.name}}</h6>
          <p class="mb-0 opacity-75">{{itembebidas.description}}</p>
        </div>
        <span class="text-nowrap">Preço: {{itembebidas.price | currency: 'BRL'}}</span>
      </div>
    </a>
  </div>
  