@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;700&display=swap');

$colorPrimary: #193498;
$colorSecundary: #113CFC;
$colorTerceary: #1597E5;
$colorsmall: #69DADB;
$colorBg: rgb(255, 255, 255);
$fontFamily: 'Smooch Sans', 'Sans serif';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ex_titulo{
   margin: 10px;
   padding: 0px;
   font-family: $fontFamily;
   font-size: 40px;
   letter-spacing: 2px ;
   border-bottom: 3px solid $colorPrimary;
   text-align: center;
   text-shadow: $colorSecundary (.1rem .2rem .1rem);
   background: linear-gradient(to left, $colorTerceary, $colorsmall);
}

/* ----- Elementos buscar ---*/

.box{
    position: absolute;
    text-align: center;
    padding: 0px;
    top: 140px;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.pesquisa{
    font-family: $fontFamily;
    text-shadow: $colorSecundary (.1rem .1rem .1rem);
    letter-spacing: 1px;
    font-size: 26px;
}
.input {
    padding: 0px;
    width: 600px;
    height: 50px;
    background: $colorsmall;
    border: 4px solid $colorSecundary;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: 20px;
    font-weight: 600;
    color: $colorPrimary;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 680px;
    background: $colorsmall;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: $colorPrimary;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
/* ---- Container ----*/
.container{
    display: grid;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(to left, $colorTerceary, $colorsmall); 
}
.evento{
    margin: 98px 0px 0px ;
    border-top: 3px solid $colorPrimary;
    text-align: center;
    font-family: $fontFamily;
    text-shadow: $colorSecundary (.1rem .1rem .1rem);
    letter-spacing: 1px;
    font-size: 32px;
    background: linear-gradient(to left, $colorTerceary, $colorsmall);
}
.container img{
    margin: 2px;
    padding: 0px;
    border: 2px solid black;
    width: 230px;
    height: 160px;
    background: linear-gradient(to left, $colorTerceary, $colorsmall);
}
.evento_img{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: $fontFamily;
    color: $colorPrimary;
    letter-spacing: 1px;
    font-size: 20px;
}

/*---   footer   ---*/

footer{
    position: fixed; /* Manter rodape fixado em baixo - config padrao*/
    right: 0;
    bottom: 0;
    left: 0;
}
.roda_pe{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: auto;
    padding-top: 5px;
    color: white;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 10px 4.5rem;
}
.social a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
