@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.ex_titulo {
  margin: 0px;
  padding: 5px;
  font-family: "Smooch Sans", "Sans serif";
  font-size: 40px;
  letter-spacing: 2px;
  border-bottom: 3px solid #193498;
  text-align: center;
  text-shadow: #113CFC 0.075rem 0.2rem 0.1rem;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

/* ----- Elementos buscar ---*/
.box {
  position: absolute;
  text-align: center;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

.pesquisa {
  font-family: "Smooch Sans", "Sans serif";
  text-shadow: #113CFC 0.1rem 0.1rem 0.1rem;
  letter-spacing: 1px;
  font-size: 26px;
  padding: 2px;
}

.input {
  padding: 10px;
  width: 600px;
  height: 50px;
  background: #69DADB;
  border: 4px solid #113CFC;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Smooch Sans", "Sans serif";
  font-size: 20px;
  font-weight: 600;
  color: #193498;
  outline: none;
  transition: 0.5s;
}

.box:hover input {
  width: 680px;
  background: #69DADB;
  border-radius: 10px;
}

i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #193498;
  transition: 0.2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}

/* ---- Container ----*/
.container {
  display: grid;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

.evento {
  margin: 98px 0px 0px;
  border-top: 3px solid #193498;
  text-align: center;
  font-family: "Smooch Sans", "Sans serif";
  text-shadow: #113CFC 0.1rem 0.1rem 0.1rem;
  letter-spacing: 1px;
  font-size: 32px;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

.container img {
  margin: 2px;
  padding: 0px;
  border: 2px solid black;
  width: 230px;
  height: 160px;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

.evento_img {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Smooch Sans", "Sans serif";
  color: #193498;
  letter-spacing: 1px;
  font-size: 20px;
}

/*-------- Formulario -----*/
.table {
  width: 100%;
  height: 700px;
  padding: 40px 0px;
  background: linear-gradient(to left, #1597E5, #69DADB);
}

.form {
  padding: 40px;
  margin: 0 auto;
  width: 50%;
  font-family: "Smooch Sans", "Sans serif";
  font-weight: 600;
  font-size: 24px;
  box-shadow: -4px 4px 3px #193498;
  background: linear-gradient(to left, #1597E5, #113CFC);
}

input, textarea {
  width: 100%;
  margin-bottom: 0.75em;
  padding: 0.25em;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.form_btn {
  margin-left: 40%;
  padding: 10px;
  font-family: "Smooch Sans", "Sans serif";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  background-color: #69DADB;
  border: 2px solid #113CFC;
}

/*---   footer   ---*/
footer {
  position: fixed;
  /* Manter rodape fixado em baixo - config padrao*/
  right: 0;
  bottom: 0;
  left: 0;
}

.roda_pe {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: auto;
  padding-top: 5px;
  color: white;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0px 10px 4.5rem;
}

.social a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

/*# sourceMappingURL=index.css.map */
