<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <form class="col-12 col-lg-10 mb-3 mb-lg-0 me-lg-3">
        <input id="pesquisa" type="search" class="form-control form-control-dark" placeholder="Pesquisar..." aria-label="Search" >
      </form>
        <div class="text-end">
          <button type="button" class="btn btn-warning">Pesquisar</button>
        </div>
    </div>
</div>

<div class="row m-5">
    <div class="col-sm-6 p-3">
      <div class="card">
        <img src="assets/comidas.jpg" class="card-img-top" alt="comidas" width="350" height="500">
        <div class="card-body">
          <h5 class="card-title">Comidas</h5>
          <p class="card-text">Pratos preparados por um dos melhores chefes do Brasil.</p>
          <a class="btn btn-warning" routerLink="/comidas">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-3">
      <div class="card">
        <img src="assets/bebidas.png" class="card-img-top" alt="bebidas" width="200" height="500">
        <div class="card-body">
          <h5 class="card-title">Bebidas</h5>
          <p class="card-text">As mais variaveis bebidas estão aqui.</p>
          <a class="btn btn-warning" routerLink="/bebidas">Entrar</a>
        </div>
      </div>
    </div>
  </div>