<div class="row">
    <div class="col-sm-6 p-3">
      <div class="card">
        <img src="assets/comidas.jpg" class="card-img-top" alt="comidas" width="250" height="420">
        <div class="card-body">
          <h5 class="card-title">Comidas</h5>
          <p class="card-text">Pratos preparados por um dos melhores chefes do Brasil.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-3">
      <div class="card">
        <img src="assets/bebidas.png" class="card-img-top" alt="bebidas" width="250" height="420">
        <div class="card-body">
          <h5 class="card-title">Bebidas</h5>
          <p class="card-text">As mais variaveis bebidas estão aqui.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>